body {
  background: #313131;
  color: white;
  font-size: 14px;
}

header {
  width: 100%;
  background-image: url("../img/fail2stats.png");
  background-repeat: no-repeat;
  height: 55px;
  padding-left: 60px;
}

#map {
  float:left;
  width: 100%;
  margin: 0;
  padding: 0;
}

#worldmap {
  position: relative; 
  width: 800px;
  height: 550px;
  float:left;
  color:black;
  margin: 0;
  padding: 0;
}

#datalist {
  float:left;
  clear:both;
  margin: 0;
  padding: 0;
}

#charts{
  clear: both;
  width: 100%;
}

.doughnutchart {
  float:left;
  width: 690px;
  height: 550px;
}

.country-data-item{
  float:left;
  width: 7.5em;
  padding: 5px;
}

.flag-icon {
  border:1px solid black;
}
